<!--#
 @version 0.2 (auto-set)
#-->

[#if SET_DATASOURCE!="1"#]
&nbsp;
<!-- source select -->

<ul class="nav nav-tabs">
 <li [#if DATA_SOURCE!="smslog" && DATA_SOURCE!=""#][#else#]class="active"[#endif#]><a href="?data_source=smslog"><#LANG_LOG#></a></li>
 <li [#if DATA_SOURCE=="smsdevices"#]class="active"[#endif#]><a href="?data_source=smsdevices"><#LANG_DEVICES#></a></li>
 <li [#if DATA_SOURCE=="smsphones"#]class="active"[#endif#]><a href="?data_source=smsphones">Phones</a></li>
 <li [#if DATA_SOURCE=="smsactions"#]class="active"[#endif#]><a href="?data_source=smsactions">Actions</a></li>
</ul><br>
<!-- / source select -->
[#endif SET_DATASOURCE#]
 <!-- action usual -->
 [#if DATA_SOURCE="smslog" || DATA_SOURCE=""#]
 <!-- table smslog search -->
 [#if VIEW_MODE="search_smslog" || VIEW_MODE=""#]
  [#inc smslog_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table smslog search -->
 <!-- table smslog edit -->
 [#if VIEW_MODE="edit_smslog"#]
   [#inc smslog_edit.html#]
 [#endif VIEW_MODE#]
 <!-- / table smslog edit -->
 <!-- table smslog view --> 
 [#if VIEW_MODE="view_smslog"#]
   [#inc smslog_view.html#]
 [#endif VIEW_MODE#]
 <!-- / table smslog view -->
 [#endif DATA_SOURCE#]
 
 <!-- action usual -->
 [#if DATA_SOURCE="smsdevices"#]
 <!-- table smsdevices search -->
 [#if VIEW_MODE="search_smsdevices" || VIEW_MODE=""#]
  [#inc smsdevices_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table smsdevices search -->
 <!-- table smsdevices edit -->
 [#if VIEW_MODE="edit_smsdevices"#]
   [#inc smsdevices_edit.html#]
 [#endif VIEW_MODE#]
 <!-- / table smsdevices edit -->
 <!-- table smsdevices view --> 
 [#if VIEW_MODE="view_smsdevices"#]
   [#inc smsdevices_view.html#]
 [#endif VIEW_MODE#]
 <!-- / table smsdevices view -->
 [#endif DATA_SOURCE#]
 
  <!-- action usual -->
 [#if DATA_SOURCE="smsphones"#]
 <!-- table smsphones search -->
 [#if VIEW_MODE="search_smsphones" || VIEW_MODE=""#]
  [#inc smsphones_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table smsphones search -->
 <!-- table smsphones edit -->
 [#if VIEW_MODE="edit_smsphones"#]
   [#inc smsphones_edit.html#]
 [#endif VIEW_MODE#]
 <!-- / table smsphones edit -->
 <!-- table smsphones view --> 
 [#if VIEW_MODE="view_smsphones"#]
   [#inc smsphones_view.html#]
 [#endif VIEW_MODE#]
 <!-- / table smsphones view -->
 [#endif DATA_SOURCE#]

  <!-- action usual -->
 [#if DATA_SOURCE="smsactions"#]
 <!-- table smsactions search -->
 [#if VIEW_MODE="search_smsactions" || VIEW_MODE=""#]
  [#inc smsactions_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table smsactions search -->
 <!-- table smsactions edit -->
 [#if VIEW_MODE="edit_smsactions"#]
   [#inc smsactions_edit.html#]
 [#endif VIEW_MODE#]
 <!-- / table smsactions edit -->
 <!-- table smsactions view --> 
 [#if VIEW_MODE="view_smsactions"#]
   [#inc smsactions_view.html#]
 [#endif VIEW_MODE#]
 <!-- / table smsactions view -->
 [#endif DATA_SOURCE#]